.navbar{
    display: flex;
    min-height: calc(100vh - 91px);
    position: relative;
    width: 100%;
  
}
.nav-list{
    width: 100px;
    padding: 50%;
    background-color: var(--color-primary-2);
}
.HOME{
    width: 100px;
    padding: 50%;
    background-color: var(--color-primary-2);
}