.projetos{
    display: flex;
    background-color: black;
    border-radius: 40px;
    padding: 30px;
    margin-bottom: 10px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    gap: 50px;
    font-style: normal;
}