@import url('home.css');
@import url('formação.css');
@import url('habilidade.css');
@import url('projetos.css');
@import url('contato.css');

:root{
    --color-primary-1:rgba(136, 134, 134, 0.671);
    --color-primary-2: rgba(9, 18, 146, 0.897);
    --color-primary-3: rgb(255, 255, 255);
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'popins' , sans-serif;
    color: rgb(228, 228, 228);
}
